<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/main.css">
  <script src="../js/main.js"></script>
  <title>lesson9</title>
  <style>
    .wrap {
      height: 500px;
      border: 1px dashed red;
      display: flex;
    }
  </style>
</head>
<body>
    <a href="../top.html">Topへ</a>
    <div class="container-1280">
      <h2 class="title-wrap">
        <div id="lesson-number">lesson9:</div>
        <div id="flexbox-title">3つの要素を横並びにしてその順番を入れ替えよう(要素3、要素2、要素1の順)</div>
      </h2>
      <div class="wrap">
        <div>要素1</div>
        <div>要素2</div>
        <div>要素3</div>
      </div>
    </div>
</body>
</html>