<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/main.css">
  <title>lesson3</title>
  <style>
    .wrap {
      display: flex;
      justify-content: space-around;
    }
  </style>
</head>
<body>
    <a href="../index.html">Menuへ</a>
    <div class="container-1280">
      <h2>lesson3: 要素1と要素2と要素3を横並びにして、要素間のスペースを均等に配置しよう！</h2>
      <div class="wrap">
        <div>要素1</div>
        <div>要素2</div>
        <div>要素3</div>
      </div>
    </div>
</body>
</html>