<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/main.css">
  <script src="../js/main.js"></script>
  <title>lesson11</title>
  <style>
    .wrap {
      height: 500px;
      display: flex;
      justify-content: space-between;
      border: 1px dashed red;
    }
    .wrap2 {
      display: flex;
    }
  </style>
</head>
<body>
    <a href="../top.html">Topへ</a>
    <div class="container-1280">
      <h2 class="title-wrap">
        <div id="lesson-number">lesson11:</div>
        <div id="flexbox-title">3つの要素を横並びにして要素1と要素2は左端に、要素3は右端に配置しよう!</div>
      </h2>
      <div class="wrap">
        <div class="wrap2">
          <div>要素1</div>
          <div>要素2</div>
        </div>
        <div>要素3</div>
      </div>
    </div>
</body>
</html>