<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/main.css">
  <script src="../js/main.js"></script>
  <title>lesson6</title>
  <style>
    .wrap {
      display: flex;
      flex-direction: column;

    }
  </style>
</head>
<body>
    <a href="../top.html">Topへ</a>
    <div class="container-1280">
      <h2 class="title-wrap">
        <div id="lesson-number">lesson6:</div>
        <div id="flexbox-title">横並びになっている3つの要素を縦並びにしよう！</div>
      </h2>
      <div class="wrap">
        <div>要素1</div>
        <div>要素2</div>
        <div>要素3</div>
      </div>
    </div>
</body>
</html>