<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <script type="module" src="../js/menu.js"></script>



  <title>templates</title>
  <style>

  </style>
</head>
<body>
    <div class="container-1280">
      <a href="/index.html">topへ</a>
      <h2 id="title"></h2>
      <h2 id="flexbox-title">Flexbox</h2>
      <ul id="flexbox-body"></ul>
      <h2>Position</h2>
      <ul>
        <li>
          <a href="position/lesson1.html">lesson1</a>
        </li>
        <li>
          <a href="position/lesson2.html">lesson2</a>
        </li>
        <li>
          <a href="position/lesson3.html">lesson3</a>
        </li>
        <li>
          <a href="position/lesson4.html">lesson4</a>
        </li>
        <li>
          <a href="position/lesson5.html">lesson5</a>
        </li>
        <li>
          <a href="position/lesson6.html">lesson6</a>
        </li>
    </ul>
    <h2>Form</h2>
          <ul>
            <li>
              <a href="form/lesson1.html">lesson1</a>
            </li>
            <li>
              <a href="form/lesson2.html">lesson2</a>
            </li>
            <li>
              <a href="form/lesson3.html">lesson3</a>
            </li>
            <li>
              <a href="form/lesson4.html">lesson4</a>
            </li>
            <li>
              <a href="form/lesson5.html">lesson5</a>
            </li>
          </ul>
          <h2>Training</h2>
          <ul>
            <li>
              <a href="training/lesson1.html">lesson1</a>
            </li>
            <li>
              <a href="training/lesson2.html">lesson2</a>
            </li>
            <li>
              <a href="training/lesson3.html">lesson3</a>
            </li>
            <li>
              <a href="training/lesson4.html">lesson4</a>
            </li>
            <li>
              <a href="training/lesson5.html">lesson5</a>
            </li>
            <li>
              <a href="training/lesson6.html">lesson6</a>
            </li>
            <li>
              <a href="training/lesson7.html">lesson7</a>
            </li>
            <li>
              <a href="training/lesson8.html">lesson8</a>
            </li>
          </ul>
          <h2 id="js-title">js</h2>
          <ul id="js-body"></ul>
    </div>
</body>
</html>