<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>lesson7</title>
  <style>
    .btn1 {
      width: 256px;
      height: 64px;
      border-radius: 9999px;
      background-color: aqua;
      border: none;
      cursor: pointer;
      font-size: 18px;
    }
    .btn2 {
      width: 256px;
      height: 64px;
      border-radius: 10px;
      font-size: 18px;
      background-color:chartreuse;
      border: none;
      cursor: pointer;
    }
  </style>
</head>
<body>
    
    <a href="../index.html">Menuへ</a>
    <div>
      <button onclick="nextPage()">前へ</button>
      <button onclick="prevPage()">次へ</button>
    </div>
    <div class="container-1280">
      <h2>lesson7: buttonを作成しよう!</h2>
      <button class="btn1">button</button>
      <button class="btn2">button</button>
    </div>
  


      

</body>
</html>