<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/main.css">
  <title>lesson3</title>
  <style>
    .wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px;
      padding: 0px 12px;
      background-color: beige;
    }
    .list-wrap {
      display: flex;
    }
    .item {
      margin-right: 12px;
    }
  </style>
</head>
<body>
    <header>
      <div class="wrap">
        <div>企業ロゴ</div>
        <div class="list-wrap">
          <a href="" class="item">私たちについて</a>
          <a href="" class="item">サービス</a>
          <a href="" class="item">料金</a>
          <a href="">コンタクト</a>
        </div>
      </div>
    </header>
    <a href="../index.html">Menuへ</a>
    <div>
      <button onclick="nextPage()">前へ</button>
      <button onclick="prevPage()">次へ</button>

    </div>
    <div class="container-1280">
      <h2>lesson4: サイドバーを固定して表示しよう!</h2>
  


      

    </div>
</body>
</html>