<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>lesson3</title>
  <style>
    table {
      width: 50%;
      border-collapse: collapse;
    }
    table, th, td {
      border: 1px solid black;
    }
    th, td {
      padding: 10px;
      text-align: center;
    }
    th {
      background-color: aliceblue;
    }
  </style>
</head>
<body>
    
    <a href="../index.html">Menuへ</a>
    <div>
      <button onclick="nextPage()">前へ</button>
      <button onclick="prevPage()">次へ</button>
    </div>
    <div class="container-1280">
      <h2>lesson6: テーブルを表示しよう!</h2>
      <table>
        <thead>
          <tr>
            <th>名前</th>
            <th>趣味</th>
            <th>年齢</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>田中</td>
            <td>baseball</td>
            <td>10</td>
          </tr>
          <tr>
            <td>山田</td>
            <td>テニス</td>
            <td>10</td>
          </tr>
          <tr>
            <td>佐々木</td>
            <td>料理</td>
            <td>20</td>
          </tr>
        </tbody>
      </table>
    </div>
  


      

</body>
</html>