<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>lesson3</title>
  <style>
    .wrap {
      display: flex;
      
    }
    .leftContents {
      width: 20%;
      height: 100vh;
      position: fixed;
      top: 0px;
      left: 0px;
      background-color: aliceblue;
    }
    .rightContents {
      width: 80%;
      margin-left: 20%;
    }
    .hoge {
      height: 1000px;
    }
  </style>
</head>
<body>
    <div class="wrap">

      <div class="leftContents">
        <ul>
          <li>about</li>
          <li>service</li>
          <li>contact</li>

        </ul>
      </div>

      <div class="rightContents">
        <a href="../index.html">Menuへ</a>
        <div>
          <button onclick="nextPage()">前へ</button>
          <button onclick="prevPage()">次へ</button>
        </div>
        <div class="container-1280">
          <h2>lesson4: サイドバーを固定して表示しよう!</h2>
      </div>
      <div class="hoge">
        
      </div>
    </div>
  


      

</body>
</html>