<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/main.css">
  <script type="module" src="../../js/position.js"></script>
  
  <title>lesson3</title>
  <style>
    canvas {
        border: 1px solid black;
        display: block;
        margin: 20px auto;
    }
  </style>
</head>
<body>
    <a href="../index.html">Menuへ</a>
    <div>
      <button id="prev">前へ</button>
      <button id="next">次へ</button>
    </div>
    <div class="container-1280">
      <h2>三項演算子を使ってみよう!</h2>

    <script>
      let bool = true;
      let text = bool === true ? 'Hello' : 'Goodbye';
      console.log(text);
    </script>
</body>
</html>