<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/main.css">
  
  <title>lesson3</title>
  <style>
  
  </style>
</head>
<body>
    <a href="../index.html">Menuへ</a>
    <div>
      <button onclick="nextPage()">前へ</button>
      <button onclick="prevPage()">次へ</button>
    </div>
    <div class="container-1280">
      <h2>if文を書いてみよう。変数isNewにtrueを代入してif文で分岐しよう。trueであればconsoleにOK。falseの場合はNOと表示しよう。</h2>
      
    </div>
    <script>
      let isNew = true;

      if (isNew) {
        console.log("OK");
      }
      else {
        console.log("NO");
      }

    </script>
</body>
</html>