<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/main.css">
  
  <title>lesson3</title>
  <style>
  
  </style>
</head>
<body>
    <a href="../index.html">Menuへ</a>
    <div>
      <button onclick="nextPage()">前へ</button>
      <button onclick="prevPage()">次へ</button>
    </div>
    <div class="container-1280">
      <h2>if else 文を書いてみよう。変数に数字を入れ、1であれば1。2であれば2。それ以外はその他とconsoleに表示しよう。</h2>
      
    </div>
    <script>
      let number = 4;

      if (number === 1) {
        console.log(1);
      }
      else if (number === 2) {
        console.log(2);
      }
      else {
        console.log("その他");
      }

    </script>
</body>
</html>